@model IEnumerable<EncuestaV2.Data.EncuestaCertezas>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Certezas.AreaConocimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EncuestaTipo.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Certezas.AreaConocimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EncuestaTipo.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdEncuestaCertezas }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdEncuestaCertezas }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdEncuestaCertezas })
        </td>
    </tr>
}

</table>
