@model EncuestaV2.Data.NivelCertezas

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>NivelCertezas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.minimo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.minimo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.maximo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.maximo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Certezas.AreaConocimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Certezas.AreaConocimiento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdNivel }) |
    @Html.ActionLink("Back to List", "Index")
</p>
