@model EncuestaV2.Models.Certezas

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Tópico</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            
            Área de conocimiento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaConocimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reactivos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reactivos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorUnitario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorUnitario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Factor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Factor)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>*@
    </dl>




    @foreach (var item in Model.preguntas)
    {
        <div class="mb-2">
            @item.Texto
        </div>
    }


</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdCerteza }) |
    @Html.ActionLink("Back to List", "Index")
</p>
